.margin{
  margin: 100px;
}

.tabla{
  width: 100%;
  text-align: left;
}

.tabla td{
  padding-bottom: 10px;
  padding-bottom: 10px;
}

#menu{
  background-color: #253A46;
  padding: 20px;
  font-size: 20px;
}

#menu a{
  color: white;
  padding-right: 50px;
}

body{
  margin: 0;
}

.center{
  text-align: center;
}

.post_Title{
  border-top: 1px solid black;
}

.task__container{
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}